*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
gradle/*
build/*
.gradle/*
/local.properties
.DS_Store
kidssong/.DS_Store
captures/*
captures
*.apk
kidssong/kidssong.iml
*/.DS_Store
freeline/*
/freeline.py
freeline_project_description.json
uiautomator/*
/*.iml
